.App {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

/* Estilos generales para todos los botones */
button, .btn {
  display: inline-block;
  background: var(--button-bg);
  border: 2px solid var(--button-border);
  color: var(--button-text);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  text-align: center;
}

/* Efecto al pasar el mouse */
button:hover, .btn:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-text);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Tema oscuro */
.App.dark {
  background-color: #001f3f;
  color: #ffffff;
  --menu-bg: #001f3f;
  --button-bg: transparent;
  --button-border: #ffffff;
  --button-text: #ffffff;
  --button-hover-bg: #ffffff;
  --button-hover-text: #001f3f;
}

/* Tema claro */
.App.light {
  background-color: #f5f5f5;
  color: #121212;
  --menu-bg: #f5f5f5;
  --button-bg: transparent;
  --button-border: #121212;
  --button-text: #121212;
  --button-hover-bg: #121212;
  --button-hover-text: #ffffff;
}

.App::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
  z-index: -1;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
  max-width: 800px;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}

section:last-child {
  border-bottom: none;
}

.timeline {
  position: relative;
  padding: 20px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ccc;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -8px;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:nth-child(even)::before {
  left: -8px;
}

.content {
  position: relative;
  z-index: 1;
  /* Si deseas que el contenido tenga el degradado, puedes asignarlo aquí:
     ackground: var(--gradient-colors); 
     Pero recuerda que con ::before en .App ya se aplica a toda la página.
  */
}